body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f7;
    padding: 20px;
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.avaliacoes-container {
    max-width: 900px;
    margin: auto;
}

.avaliacao {
    background: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 20px;
    transition: 0.2s;
}

.avaliacao:hover {
    box-shadow: 0 4px 16px
}